In [2]:
sc

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, round, max
spark = SparkSession.builder.appName("StudentsDataFrameExample").getOrCreate()

In [4]:
df = spark.read.csv(r"file:///C:/Users/Navya/Downloads/students.csv", header=True, inferSchema=True)

In [5]:
print("=== First 10 rows ===")
df.show(10)

=== First 10 rows ===
+---+-------+---+------+----+-------+-------+
| id|   name|age|gender|math|science|english|
+---+-------+---+------+----+-------+-------+
|  1|  Alice| 20|     F|  66|     92|     44|
|  2|    Bob| 20|     M|  82|     52|     77|
|  3|Charlie| 22|     F|  43|     57|     76|
|  4|  David| 19|     M|  95|     69|     46|
|  5|    Eva| 19|     F|  62|     44|     96|
|  6|  Frank| 22|     F|  70|     78|     94|
|  7|  Grace| 24|     F|  67|     66|     93|
|  8|  Henry| 21|     F|  53|     82|     60|
|  9|    Ivy| 19|     M|  64|     52|     46|
| 10|   Jack| 19|     F|  44|     59|     60|
+---+-------+---+------+----+-------+-------+
only showing top 10 rows

In [6]:
print("=== Schema ===")
df.printSchema()

=== Schema ===
root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- math: integer (nullable = true)
 |-- science: integer (nullable = true)
 |-- english: integer (nullable = true)

In [7]:
print("=== Datatypes ===")
print(df.dtypes)

=== Datatypes ===
[('id', 'int'), ('name', 'string'), ('age', 'int'), ('gender', 'string'), ('math', 'int'), ('science', 'int'), ('english', 'int')]

In [ ]:
print("=== Summary statistics ===")
df.describe().show()

=== Summary statistics ===

In [ ]:
print("Total rows:", df.count())
print("Columns:", df.columns)

In [ ]:
print("\n=== Select name, age, and math columns ===")
df.select("name", "age", "math").show(10)

In [ ]:
print("\n=== Students with age >= 21 and math >= 70 ===")
df.filter((col("age") >= 21) & (col("math") >= 70)).show(10)

In [ ]:
df_with_avg = df.withColumn("average", round((col("math") + col("science") + col("english")) / 3, 2))
print("\n=== Dataset with new column 'average' ===")
df_with_avg.show(10)

In [ ]:
print("\n=== Students with average >= 75 (sorted) ===")
df_with_avg.filter(col("average") >= 75).orderBy(col("average").desc()).show(10)

In [ ]:
print("\n=== Average marks by gender ===")
df_with_avg.groupBy("gender").agg(
 round(avg("math"), 2).alias("avg_math"),
 round(avg("science"), 2).alias("avg_science"),
 round(avg("english"), 2).alias("avg_english"),
 round(avg("average"), 2).alias("overall_avg")
).show()